.container {
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  height: 15rem;
  position: relative;
  width: 100%;
}

.container-hide {
  animation: cardFade 1s ease-out forwards;
}

@keyframes cardFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#card {
  cursor: pointer;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
}

#card figure {
  backface-visibility: hidden;
  color: #fff;
  display: block;
  font-size: 5rem;
  height: 100%;
  line-height: 14rem;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#card figure span {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

#card .front {
  background: $color-card-front;
}

#card .back {
  background: $color-card-back;
  font-size: 2rem;
  transform: rotateY( 180deg);
}

#card.flipped {
  transform: rotateY( 180deg);
}

.card__button {
  background: none;
  border: .5px solid $color-white;
  color: $color-white;
  position: absolute;
  right: 1rem;
  top: 1rem;
  &:hover {
    color: $color-card-front;
  }
}
