
.app__container {
  padding: 5rem;
  height: 100vh;
  background: linear-gradient(to top right, rgba(14, 152, 106, 0.79), rgb(40, 66, 176));
}

.app__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  // grid-auto-rows: 25rem;
}
