.app__container {
  padding: 5rem;
  height: 100vh;
  background: lighten($color-gray-light, 30%);
}

.app__row--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  // grid-auto-rows: 25rem;
}
