// GRID
$grid-width: 100rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 6rem;

// COLOURS
$color-gray-light: #365190;
$color-black: black;
$color-white: #fff;
$color-output: #010F26;
$color-water: rgb(75, 213, 238);
$color-card-front: rgb(37, 142, 221);
$color-card-back: rgb(15, 76, 115);

// SPACING
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
